<nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd;" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">vqBank</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <% if(user) { %>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/api/v1/papers">View Papers</a>
                    </li>
                    <% if(user.role === 'ROLE_ADMIN') { %>
                        <li class="nav-item">
                            <a class="nav-link" href="/api/v1/upload">Upload Paper</a>
                        </li>
                    <% } %>
                    <li class="nav-item">
                        <a class="nav-link" href="/api/v1/logout">Logout</a>
                    </li>
                <% } else { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/api/v1/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/api/v1/register">Register</a>
                    </li>
                <% } %>
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/harshitrvgit/vqbank/issues/new">Report Bug</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://discord.com/invite/5PNFxQF2nz">Request Feature</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-warning text-dark" href="https://harshitrv.netlify.app/" target="_blank">&copy; harshitrv.tech <%= new Date().getFullYear() %></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
