<% layout('layouts/boilerplate') %>

<h3>Question Papers</h3>
<hr>

<% for (paper of papers) { %>
    <h4><%= paper.originalname %></h4>
    <p><%= paper.size / 1000 %>kb</p>
    <form action="/api/v1/paper/download/<%= paper._id %>" method="get">
        <input type="submit" value="Download">
    </form>
    <hr>
<% } %>  