<% layout('layouts/boilerplate') %>

    <div class="center-item">
        <h1 class="mb-3">Upload Paper</h1>
        <form action="/api/v1/upload" method="post" enctype="multipart/form-data">
            <select class="form-select mb-3" name="programmeName" id="programme" required>
                <option value="mca">
                    MCA
                </option>
                <option value="btech">B.Tech</option>
                <option value="mtech">M.Tech</option>
                <option value="msc">M.Sc</option>
                <option value="other">Other</option>
            </select>
            <select class="form-select mb-3" name="semester" id="semester" required>
                <option value="fall-sem">FALL-SEM</option>
                <option value="winter-sem">WINTER-SEM</option>
                <option value="summer-sem">SUMMER-SEM</option>
                <option value="other">Other</option>
            </select>
            <select class="form-select mb-3" name="assessmentType" id="assessment-type" required>
                <option value="cat-1">CAT-1</option>
                <option value="cat-2">CAT-2</option>
                <option value="mid-term">MID-TERM</option>
                <option value="fat">FAT</option>
                <option value="re-fat">RE-FAT</option>
                <option value="re-cat">RE-CAT</option>
                <option value="other">Other</option>
            </select>

            <div class="mb-3">
                <input class="form-control" type="text" name="courseTitle" id="course-title"
                    placeholder="Enter course title" required>
            </div>


            <div class="mb-3">
                <input class="form-control" name="file" type="file" id="file" required>
            </div>

            <input class="btn btn-primary w-100" type="submit" value="Upload"/>
        </form>
    </div>