.center-item {
	display: flex;
	justify-content: center;
	align-items: center;
	height: calc(100vh - 58px);
	flex-direction: column;
}

.zero-radius {
	border-radius: 0;
}

.footer {
	position: relative;
	bottom: 0;
	width: 100%;
	background-color: #f5f5f5;
}

.unbutton {
	background-color: transparent;
	border: none;
	margin: 0;
	padding: 0;
	text-align: inherit;
	font: inherit;
	border-radius: 0;
	appearance: none;
	color: white;
}
