.center-item {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
}

.zero-radius {
    border-radius: 0;
}

.footer {
	position: relative;
	bottom: 0;
	width: 100%;
	background-color: #f5f5f5;
}