.center-item {
	display: flex;
	justify-content: center;
	align-items: center;
	height: calc(100vh - 58px);
	flex-direction: column;
}

.zero-radius {
	border-radius: 0;
}

.footer {
	position: relative;
	bottom: 0;
	width: 100%;
	background-color: #f5f5f5;
}

.unbutton {
	background-color: transparent;
	border: none;
	margin: 0;
	padding: 0;
	text-align: inherit;
	font: inherit;
	border-radius: 0;
	appearance: none;
	color: white;
}

.google_btn_container {
	border: 1px solid #c2c8d0;
	margin-top: 8px;
	margin-bottom: 8px;
	padding: 10px;
	border-radius: 5px;
	cursor: pointer;
}

.google_btn_container > a {
	list-style: none;
	text-decoration: none;
	color: inherit;
}

.google_btn_container:hover {
	background-color: #0d6efd;
	color: #fff;
}

.google__btn {
	display: flex;
	justify-content: center;
	align-items: center;
}

.google__svg {
	display: flex;
	width: 25px;
	height: 25px;
}
