<% layout('layouts/boilerplate') %>

    <div class="center-item">
        <div>
            <h1>Sign Up</h1>
        </div>
        <div>
            <form action="/api/v1/register" method="post">
                <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" name="email" class="form-control" pattern="[^@ \t\r\n]+@[^@ \t\r\n]+\.[^@ \t\r\n]+" id="email" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" name="password" class="form-control" id="password">
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="show-password">
                    <label class="form-check-label" for="show-password">Show Password</label>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <p class="mt-1">Already have a account?<a class="mt-3" href="/api/v1/login"> Login</a></p>
        </div>
    </div>
    <script src="/js/toggleShowPassword.js"></script>